*{/*Селектор * встановлює стилі для всіх елементів документа:*/
    padding: 0; /*встановлює обтікання всередині елемента;*/
    margin: 0; /*встановлює зовнішній відступ;*/
    box-sizing: border-box;
    /*встановлює включення границі та внутрішнього вмісту в розміри елемента;*/
    font-family: 'Josefin Sans', sans-serif;
    /*встановлює шрифт для тексту.*/
}
.hero{ /*встановлює стилі для геройського блоку:*/
    height: 100vh; /*встановлює висоту блоку як 100% висоти вікна;*/
    width: 100%; /*встановлює ширину блоку на всю ширину вікна;*/
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(5,9,40,0.8)),url(img/background.jpg);
    /*задає фонове зображення через лінійний градієнт та URL-адресу;*/
    background-size: cover;
    /*масштабує фонове зображення так, щоб покрити весь блок;*/
    background-position: center;
    /*вирівнює фонове зображення по центру.*/
}
nav{/*встановлює стилі для навігаційного блоку:*/
    display: flex;/*встановлює контейнерний відображення для дочірніх елементів*/
    align-items: center;/*вирівнює елементи по вертикалі*/
    justify-content: space-between;/*рівномірно розподіляє елементи по горизонталі з проміжком між ними;*/
    padding: 2% 6%;/* встановлює внутрішні відступи по верхній та нижній горизонталі.*/
}
nav .logo{/*встановлює стилі для логотипу:*/
    color: white;/*встановлює колір тексту на білий;*/
    font-size: 32px;/*встановлює розмір шрифту 32 пікселі*/
    text-transform: capitalize;/*перетворює текст на регістер "З великої літери"*/
    letter-spacing: 1px;/*встановлює міжлітерний інтервал 1 піксель.*/
}
span{/*Встановлюємо стиль, колір на помаранчевий*/
    color: #fa9954;
}
.menu{
    text-align: right;/*вирівнює текст по правому краю;*/
    flex: 1;/*розтягує блок на вільну доступну ширину контейнера.*/
}
nav .menu ul li{/*встановлює стилі для пунктів меню:*/
    list-style-type: none;/*відключає маркери списку*/
    display: inline-block;/*встановлює дочірній елемент як блочний інлайновий;*/
    position: relative;/*встановлює позицію елемента відносно його контейнера;*/
    padding: 10px 15px;
    /*встановлює внутрішні відступи від верху та низу 10 пікселів і зліва та справа 15 пікселів*/
}
nav .menu ul li a{/*встановлює стилі для посилань в меню:*/
    text-decoration: none;/*видаляє підкреслення з посилань*/
    color: white;/*встановлює колір тексту на білий*/
    font-size: 14px;/* встановлює розмір шрифту 14 пікселів*/
}
nav .menu ul li::after{
/*встановлює стилі для підсвічування пунктів меню при наведенні:*/
    content: '';/*встановлює вміст для псевдоелемента*/
    width: 0%;/*встановлює початкову ширину анімації 0%*/
    height: 2px;/*встановлює висоту підсвічування*/
    background: #fa9954;/*встановлює колір підсвічування*/
    display: block;/*встановлює псевдоелемент як блочний;*/
    margin: auto;/*центрує псевдоелемент відносно батька;*/
    transition: .3s;/*задає плавну анімацію на зміну стилів.*/
}
nav .menu ul li:hover::after{
    /*встановлює стилі для анімації підсвічування при наведенні на пункт меню:*/
    width: 100%;
    /*встановлює ширину анімації на 100%, коли наведено курсор.*/
}
.heading{/*встановлює стилі для блоку заголовку:*/
    position: absolute;/*встановлює абсолютну позицію відносно батька;*/
    width: 90%;/*встановлює ширину блоку на 90% від батька;*/
    color: white;/*встановлює колір тексту на білий;*/
    top: 50%;/*вирівнює верхній край блоку на 50% від висоти батька;*/
    left: 50%;/*вирівнює лівий край блоку на 50% від ширини батька;*/
    transform: translate(-50%,-50%);/*застосовує перетворення для центрування блоку;*/
    text-align: center;/*вирівнює текст по центру.*/
}
.heading h1{/*встановлює стилі для заголовка h1:*/
    font-size: 70px;/*встановлює розмір шрифту 70 пікселів;*/
    font-weight: 900;/*встановлює товщину шрифту на 900 (напівжирний).*/
}
.heading p{/*встановлює стилі для параграфу в заголовку:*/
    color: white;/*встановлює колір тексту на білий;*/
    font-size: 15px;/*встановлює розмір шрифту 15 пікселів;*/
    line-height: 1.6;/*встановлює висоту рядка 1.6, для зручного читання;*/
    padding: 10px 0 35px;/*встановлює внутрішні відступи від верху 10 пікселів, знизу 35 пікселів.*/
}
.btn{/*встановлюєм стилі для кнопки:*/
    text-decoration: none;/*видаляє підкреслення з тексту;*/
    display: inline-block;/*встановлює блочний інлайновий тип відображення;*/
    color: white;/*встановлює колір тексту на білий;*/
    background: linear-gradient(to right, #fa9954,#fc4735);
    /*встановлює фон кнопки через градієнт;*/
    padding: 12px 32px;/*встановлює внутрішні відступи від верху 12 пікселів, знизу 32 пікселів;*/
    font-size: 14px;/*встановлює розмір шрифту 14 пікселів;*/
    border: none;/* видаляє границю кнопки;*/
    cursor: pointer;/*становлює вигляд курсора під час наведення на кнопку.*/
}
.btn:hover{/*встановлює стилі для анімації при наведенні на кнопку:*/
    background: linear-gradient(to left, #fa9954,#fc4735);
    /*змінює фон кнопки через градієнт;*/
    transition: .3s;/*встановлює плавну анімацію з тривалістю 0.3 секунди.*/
}

/*На цьому ми завершуємо створення основної структури нашої сторінки.
 За допомогою CSS, ми встановили стилі для різних елементів, 
 таких як фон, розміри, кольори та інші дизайнерські аспекти. 
 В результаті отримуємо гарну стилізовану веб-сторінку з навігаційним меню,
  заголовками та іншим важливим вмістом."*/